// these values are taken from Tailwind, useAppBreakpoints also assumes these values
// are used. Make sure to update either usage should they ever change
$breakpoint-sm: 40rem; // 640px
$breakpoint-md: 48rem; // 768px
$breakpoint-lg: 64rem; // 1024px
$breakpoint-xl: 80rem; // 1280px
$breakpoint-2xl: 96rem; // 1536px
