@import 'tailwindcss';
@import '@nuxt/ui';

/* TODO factor out */
:root {
  --ui-radius: 0.25rem;
  --ui-header-height: calc(var(--spacing) * 16);

  --default-spacing: 1rem;

  --text-base: 1rem;
  --text-sm: 0.875rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;

  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
}
