@import 'tailwindcss';
@import '@nuxt/ui';

/* TODO factor out */
@plugin "@tailwindcss/typography";

:root {
  --ui-radius: 0.25rem;
  --ui-header-height: calc(var(--spacing) * 16);

  --default-spacing: 1rem;
}
