@import './_variables.scss';

// LAYOUT
@mixin flex($apply-gap: true) {
  display: flex;
  @if $apply-gap {
    gap: var(--default-spacing);
  }
}

@mixin flex-row($apply-gap: true) {
  @include flex($apply-gap);
  flex-direction: row;
}

@mixin flex-column($apply-gap: true) {
  @include flex($apply-gap);
  flex-direction: column;
}

@mixin flex-row-align-center($apply-gap: true) {
  @include flex-row($apply-gap);
  align-items: center;
}

@mixin flex-row-justify-between($apply-gap: true) {
  @include flex-row($apply-gap);
  justify-content: space-between;
}

@mixin flex-row-justify-between-align-center($apply-gap: true) {
  @include flex-row-justify-between($apply-gap);
  align-items: center;
}

// FONTS
@mixin font-size($size) {
  font-size: var(--text-#{$size});
}

@mixin semibold {
  font-weight: var(--font-weight-semibold);
}

@mixin bold {
  font-weight: var(--font-weight-bold);
}

@mixin reset-link($color-inherit: true) {
  text-decoration: none;
  @if $color-inherit {
    color: inherit;
  }
}

// THEMING
@mixin dark-mode {
  html.dark-mode & {
    @content;
  }
}

// RESPONSIVENESS
@mixin app-container {
  max-width: var(--app-container);
  margin-inline: auto;
  width: 100%;
}

@mixin media-max-width($breakpoint) {
  @media (max-width: calc($breakpoint - 1px)) {
    @content;
  }
}

@mixin media-min-width($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin media-min-sm {
  @include media-min-width($breakpoint-sm) {
    @content;
  }
}

@mixin media-max-sm {
  @include media-max-width($breakpoint-sm) {
    @content;
  }
}

@mixin media-min-md {
  @include media-min-width($breakpoint-md) {
    @content;
  }
}

@mixin media-max-md {
  @include media-max-width($breakpoint-md) {
    @content;
  }
}

@mixin media-min-lg {
  @include media-min-width($breakpoint-lg) {
    @content;
  }
}

@mixin media-max-lg {
  @include media-max-width($breakpoint-lg) {
    @content;
  }
}

@mixin media-min-xl {
  @include media-min-width($breakpoint-xl) {
    @content;
  }
}

@mixin media-max-xl {
  @include media-max-width($breakpoint-xl) {
    @content;
  }
}

@mixin media-min-2xl {
  @include media-min-width($breakpoint-2xl) {
    @content;
  }
}

@mixin media-max-2xl {
  @include media-max-width($breakpoint-2xl) {
    @content;
  }
}
